<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

        <span class="fs-4">Elearning Admin</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="/admin" routerLinkActive="active" class="nav-link  text-white" aria-current="page">
                <i class="fa fa-home" style="margin-right: 10px;"></i>
                Students
            </a>
        </li>
        <li>
            <a routerLink="/notesList" routerLinkActive="active" class="nav-link text-white">
                <i class="fa fa-dashboard" style="margin-right: 10px;"></i>
                Notes
            </a>
        </li>
    </ul>
    <hr>
    <a routerLink="login" class="nav-link text-white">
        <i class="fa fa-arrow-left" style="margin-right: 10px;"></i>
        Logout
    </a>
</div>