<h1 class="my-4 font-weight-bold text-center" style="font-size: 70px;">Select your <span
        style="color: #9B5DE5;">Subject</span>
</h1>

<div class="row" style="padding-top: 40px; width: 100%;">
    <div class="col-4 text-center mb-5">
        <button (click)="goToNotes('science')" class="button-71" role="button">Science</button>
    </div>
    <div class="col-4 text-center mb-5">
        <button (click)="goToNotes('maths')" class="button-71" role="button">Maths</button>
    </div>
    <div class="col-4 text-center mb-5">
        <button (click)="goToNotes('english')" class="button-71" role="button">English</button>
    </div>
    <div class="col-4 text-center mb-5">
        <button class="button-71" role="button">Button 71</button>
    </div>
    <div class="col-4 text-center mb-5">
        <button class="button-71" role="button">Button 71</button>
    </div>
</div>

<!-- HTML !-->